# ETL Project - Scraping of desired Data Scientist skills requested in Job            Listings across United States

In [1]:
import sys

!{sys.executable} -m pip install html.parser
import html.parser
from html.parser import HTMLParser

import re

import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet as wn

import unicodedata
import string

!{sys.executable} -m pip install pattern3
import pattern3

import numpy as np
import pandas as pd

import psycopg2 as ps
import psycopg2.extras
import os

from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import  CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation

from pprint import pprint

# Plotting tools
!{sys.executable} -m pip install pyLDAvis
import pyLDAvis
import pyLDAvis.sklearn


import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

Collecting html.parser
Requirement already satisfied: ply in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from html.parser) (3.11)
Installing collected packages: html.parser
Successfully installed html.parser
Requirement already satisfied: pattern3 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: cherrypy in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pattern3) (18.1.1)
Requirement already satisfied: pdfminer.six in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pattern3) (20181108)
Requirement already satisfied: simplejson in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pattern3) (3.16.0)
Requirement already satisfied: feedparser in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pattern3) (5.2.1)
Requirement already satisfied: beautifulsoup4 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pattern3) (4.7.1)
Requirement already satisfied: pdfminer3k in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pattern3) (1.3.1)
Requirement already satisfied: docx in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pattern3) (0.2.4)
Requirement already satisfied: cheroot>=6.2.4 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from cherrypy->pattern3) (6.5.4)
Requirement already satisfied: portend>=2.1.1 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from cherrypy->pattern3) (2.4)
Requirement already satisfied: zc.lockfile in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from cherrypy->pattern3) (1.4)
Requirement already satisfied: more-itertools in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from cherrypy->pattern3) (6.0.0)
Requirement already satisfied: pywin32; sys_platform == "win32" in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from cherrypy->pattern3) (223)
Requirement already satisfied: sortedcontainers in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer.six->pattern3) (2.1.0)
Requirement already satisfied: six in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer.six->pattern3) (1.12.0)
Requirement already satisfied: pycryptodome in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer.six->pattern3) (3.8.1)
Requirement already satisfied: soupsieve>=1.2 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from beautifulsoup4->pattern3) (1.8)
Requirement already satisfied: pytest>=2.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer3k->pattern3) (4.3.1)
Requirement already satisfied: ply>=3.4 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer3k->pattern3) (3.11)
Requirement already satisfied: Pillow>=2.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from docx->pattern3) (5.4.1)
Requirement already satisfied: lxml in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from docx->pattern3) (4.3.2)
Requirement already satisfied: backports.functools-lru-cache in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from cheroot>=6.2.4->cherrypy->pattern3) (1.5)
Requirement already satisfied: tempora>=1.8 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from portend>=2.1.1->cherrypy->pattern3) (1.14.1)
Requirement already satisfied: setuptools in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from zc.lockfile->cherrypy->pattern3) (40.8.0)
Requirement already satisfied: py>=1.5.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=2.0->pdfminer3k->pattern3) (1.8.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=2.0->pdfminer3k->pattern3) (19.1.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=2.0->pdfminer3k->pattern3) (1.3.0)
Requirement already satisfied: pluggy>=0.7 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=2.0->pdfminer3k->pattern3) (0.9.0)
Requirement already satisfied: colorama in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=2.0->pdfminer3k->pattern3) (0.4.1)
Requirement already satisfied: pytz in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from tempora>=1.8->portend>=2.1.1->cherrypy->pattern3) (2018.9)
Requirement already satisfied: jaraco.functools>=1.20 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from tempora>=1.8->portend>=2.1.1->cherrypy->pattern3) (2.0)
Requirement already satisfied: pyLDAvis in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (2.1.2)
Requirement already satisfied: jinja2>=2.7.2 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (2.10)
Requirement already satisfied: pandas>=0.17.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (0.24.2)
Requirement already satisfied: wheel>=0.23.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (0.33.1)
Requirement already satisfied: numexpr in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (2.6.9)
Requirement already satisfied: funcy in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (1.12)
Requirement already satisfied: pytest in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (4.3.1)
Requirement already satisfied: joblib>=0.8.4 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (0.13.2)
Requirement already satisfied: numpy>=1.9.2 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (1.16.2)
Requirement already satisfied: future in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (0.17.1)
Requirement already satisfied: scipy>=0.18.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pyLDAvis) (1.2.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from jinja2>=2.7.2->pyLDAvis) (1.1.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.17.0->pyLDAvis) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.17.0->pyLDAvis) (2018.9)
Requirement already satisfied: py>=1.5.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (1.8.0)
Requirement already satisfied: six>=1.10.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (1.12.0)
Requirement already satisfied: setuptools in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (40.8.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (19.1.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (1.3.0)
Requirement already satisfied: pluggy>=0.7 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (0.9.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (6.0.0)
Requirement already satisfied: colorama in c:\users\yc886c\appdata\local\continuum\anaconda3\lib\site-packages (from pytest->pyLDAvis) (0.4.1)

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

# Read In Data Scientist Position data from CSV file

In [4]:
#csv_file_all_data = "../Resources/tstdata.csv"
csv_file_all_data = "../Resources/alldata.csv"
DS_jobs_all_data_df = pd.read_csv(csv_file_all_data,index_col=None, na_values=['NA'],sep=',')
DS_jobs_all_data_df.head(10)

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"

# Remove the "reviews" column from the dataframe

In [5]:
#Create new data with selected columns- position, company, description, location
DS_jobs_df = DS_jobs_all_data_df[["position", "company","description","location"]].copy()
DS_jobs_df.head(6)

,position,company,description,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA 30303"

# Transform location into City, State,  Zip

In [6]:
#Transformation Step: Split location into City, "State Zip"
#CityStateZip_df = new_DS_jobs_all_data_df["location"].str.extract('(?P<City>[A-Z ]{1,2}),(?P<State>[A-Z]*$) (?P<Zipcode>\d{5}){1,1}', expand=True)                                     
#CityStateZip_df = new_DS_jobs_all_data_df["location"].str.extract('(?P<City>([A-Z ]\S+){2,})', expand=True)
DS_jobs_df['city'], DS_jobs_df['state']  = DS_jobs_df["location"].str.split(', ',1).str
DS_jobs_df['zip'] = DS_jobs_df['state'].str[2:]
DS_jobs_df['state'] = DS_jobs_df['state'].str[:2]
DS_jobs_df.head()

,position,company,description,location,city,state,zip
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA 30301",Atlanta,GA,30301
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA",Atlanta,GA,
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA",Atlanta,GA,
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA 30303",Atlanta,GA,30303

# Drop column location from the dataframe

In [7]:
DS_jobs_df.drop(columns=["location"], inplace=True)
DS_jobs_df.head()

,position,company,description,city,state,zip
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA,30301
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA,30303

# Connect to the DataScientist_DB for data loading

In [8]:
#Connect to the DataScientist_DB
try: 
    conn = ps.connect(user = "postgres", 
                                  password = "firstCls1", 
                                  host = "localhost", 
                                  port = "5432", 
                                  database = "DataScientist_DB") 
 
    cursor = conn.cursor()
    # Print PostgreSQL version 
    cursor.execute("SELECT version();") 
    record = cursor.fetchone() 
    print("You are connected to - ", record,"\n") 

except (Exception, ps.Error) as error : 
    print ("Error while connecting to PostgreSQL", error)

You are connected to -  ('PostgreSQL 11.4, compiled by Visual C++ build 1914, 64-bit',)

# Load DS table with position details from the new_DS_jobs_all_data_df

In [9]:
#for each position in the dataframe load it into the ds_tbl table
df_columns = list(DS_jobs_df)
# create (col1,col2,...)
columns = ",".join(df_columns)
columns

'position,company,description,city,state,zip'

In [10]:
# create VALUES('%s', '%s",...) one '%s' per column
values = "VALUES({})".format(",".join(["%s" for _ in df_columns])) 
values

'VALUES(%s,%s,%s,%s,%s,%s)'

In [11]:
#create INSERT INTO table (columns) VALUES('%s',...)
table = "ds_tbl"
insert_stmt = "INSERT INTO {} ({}) {}".format(table,columns,values)
insert_stmt

'INSERT INTO ds_tbl (position,company,description,city,state,zip) VALUES(%s,%s,%s,%s,%s,%s)'

# Perform Batch Load of Data Scientist Positions

In [12]:
cursor = conn.cursor()
ps.extras.execute_batch(cursor, insert_stmt, DS_jobs_df.values)
conn.commit()

# Read In GEO Demographics data from CSV file

In [13]:
geo_csv_file_data = "../Resources/14zpallagi.csv"
geo_df = pd.read_csv(geo_csv_file_data)
geo_df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,MARS1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,850050,481840,115070,240450,479900,1401930,...,389850,324575,0,0,0,0,62690,47433,744910,1964826
1,1,AL,0,2,491370,200750,150290,125560,281350,1016010,...,397110,950446,0,0,0,0,70780,101969,413790,1177400
2,1,AL,0,3,259540,75820,142970,34070,156720,589190,...,250230,1319641,0,0,0,0,62170,132373,192050,538160
3,1,AL,0,4,164840,26730,125410,10390,99750,423300,...,163580,1394913,0,0,0,0,45120,124048,115470,375882
4,1,AL,0,5,203650,18990,177070,5860,122670,565930,...,203050,3655700,610,135,270,66,81180,387298,114380,448442

# Load GEO Data table with GEO details from the 2015 Census

In [14]:
#for each position in the dataframe load it into the ds_tbl table
geo_df_columns = list(geo_df)
# create (col1,col2,...)
geocolumns = ",".join(geo_df_columns)
geocolumns

'STATEFIPS,STATE,zipcode,agi_stub,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,A00100,N02650,A02650,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00700,A00700,N00900,A00900,N01000,A01000,N01400,A01400,N01700,A01700,SCHF,N02300,A02300,N02500,A02500,N26270,A26270,N02900,A02900,N03220,A03220,N03300,A03300,N03270,A03270,N03150,A03150,N03210,A03210,N03230,A03230,N03240,A03240,N04470,A04470,A00101,N18425,A18425,N18450,A18450,N18500,A18500,N18300,A18300,N19300,A19300,N19700,A19700,N04800,A04800,N05800,A05800,N09600,A09600,N05780,A05780,N07100,A07100,N07300,A07300,N07180,A07180,N07230,A07230,N07240,A07240,N07220,A07220,N07260,A07260,N09400,A09400,N85770,A85770,N85775,A85775,N09750,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902'

In [15]:
# create VALUES('%s', '%s",...) one '%s' per column
#geovalues = "VALUES({})".format(",".join(["%s" for _ in geocolumns])) 
geovalues = 'VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'
geovalues

'VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'

In [16]:
#create INSERT INTO table (columns) VALUES('%s',...)
table = "geo_population_tbl"
insert_stmt = "INSERT INTO {} ({}) {}".format(table,geocolumns,geovalues)
insert_stmt

'INSERT INTO geo_population_tbl (STATEFIPS,STATE,zipcode,agi_stub,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,A00100,N02650,A02650,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00700,A00700,N00900,A00900,N01000,A01000,N01400,A01400,N01700,A01700,SCHF,N02300,A02300,N02500,A02500,N26270,A26270,N02900,A02900,N03220,A03220,N03300,A03300,N03270,A03270,N03150,A03150,N03210,A03210,N03230,A03230,N03240,A03240,N04470,A04470,A00101,N18425,A18425,N18450,A18450,N18500,A18500,N18300,A18300,N19300,A19300,N19700,A19700,N04800,A04800,N05800,A05800,N09600,A09600,N05780,A05780,N07100,A07100,N07300,A07300,N07180,A07180,N07230,A07230,N07240,A07240,N07220,A07220,N07260,A07260,N09400,A09400,N85770,A85770,N85775,A85775,N09750,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'

In [17]:
geo_df.values

array([[1, 'AL', 0, ..., 47433, 744910, 1964826],
       [1, 'AL', 0, ..., 101969, 413790, 1177400],
       [1, 'AL', 0, ..., 132373, 192050, 538160],
       ...,
       [56, 'WY', 99999, ..., 2052, 1780, 5872],
       [56, 'WY', 99999, ..., 7835, 1630, 7139],
       [56, 'WY', 99999, ..., 33184, 260, 38860]], dtype=object)

# Perform Batch Load of GEO Population Data into Database

In [18]:
ps.extras.execute_batch(cursor, insert_stmt, geo_df.values)
conn.commit()

# Begin Extracting, Transforming and Loading Desired Data Scientist Skills

Objective: Extract all the desired skills listed in each job description, then store them in the skills table. 
Approach: 
    Step1. Retrieve all the position ids into a list from the ds_tbl table, then set it as the first column in the                DS_jobs_df.
    
    Step2. Setup for text lemmatization, special character and contractions removal and natual language toolkit,(nltk)            then tokenize each word using parts-of-speech,(pos)tagging.
    
    Step2. For each job description;
            a. Extract each desired skill. 
            b. Store each skill and corresponding position id in the job_skills_df.
            c. After all the job descriptions have been scraped, load the resulting job_skills_df into the skills_tbl.

# SQL - Retrieve position ids

In [19]:
pos_id_df = pd.read_sql_query('select pos_id from ds_tbl',conn)
pos_id_df.head()

   pos_id
0  202527
1  202528
2  202529
3  202530

Remove EOL/CRLF characters from descriptions resulting in one string for scraping.

In [20]:
desc_df = pd.read_sql_query("select regexp_replace(description, E'[\\n\\r]+', ' ', 'g' ) as description from ds_tbl",conn)
desc_df.head()

                                         description
0  Development Director ALS Therapy Development I...
1  Job Description "The road that leads to accomp...
2  Growing company located in the Atlanta, GA are...
3  DEPARTMENT: Program OperationsPOSITION LOCATIO...

# Concatenate position ids list as the first column in the DS_jobs_df

In [21]:
id_desc_df = pd.concat((pos_id_df, desc_df), axis='columns')
id_desc_df.head()

   pos_id                                        description
0  202527  Development Director ALS Therapy Development I...
1  202528  Job Description "The road that leads to accomp...
2  202529  Growing company located in the Atlanta, GA are...
3  202530  DEPARTMENT: Program OperationsPOSITION LOCATIO...

Set discription field values to lowercase

In [22]:
id_desc_df['description'] = id_desc_df['description'].str.lower() 
id_desc_df.head(10)

   pos_id                                        description
0  202527  development director als therapy development i...
1  202528  job description "the road that leads to accomp...
2  202529  growing company located in the atlanta, ga are...
3  202530  department: program operationsposition locatio...

# Begin Natural Language Processing to Scrape Data Scienctist Skills

Begin by defining Data Scienctist Skills (for future development, implement Machine Learning to identify skills learning from all the previous skills identified)

In [23]:
skillsfile = "../Resources/skills_list.csv"
skills_match_list_df = pd.read_csv(skillsfile)
skills_match_list_df.head(25)

                           skills
0      actionable recommendations
1                   adapt quickly
2                         alteryx
3                      analytical
4                analytical tools
5                    analyze data
6                         audits
7                           azure
8                b2b applications
9                        bachelor
10                     bachelor's
11                 best practices
12          business intelligence
13          business team members
14  capture stakeholders feedback
15                           case
16                     caseworthy
17                          clean
18                         client
19                 client service
20              cloud based tools
21       cloud-based architecture
22                        collect
23                collecting data
24                       collects

Initiate Natural Language Processing to Scrape Data Scienctist Skills

In [24]:
wnl = WordNetLemmatizer()
html_parser = HTMLParser()

Defining the dictionary of word contractions:

In [25]:
contraction_mapping = {
"ain't": "is not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"I'd": "I would",
"I'd've": "I would have",
"I'll": "I will",
"I'll've": "I will have",
"I'm": "I am",
"I've": "I have",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you would",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have"
}

Select the list of stopwords from NLTK and amend it by adding more stopwords to it:

In [26]:
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list = stopword_list + ['mr', 'mrs', 'come', 'go', 'get',
                                 'tell', 'listen', 'one', 'two', 'three',
                                 'four', 'five', 'six', 'seven', 'eight',
                                 'nine', 'zero', 'join', 'find', 'make',
                                 'say', 'ask', 'tell', 'see', 'try', 'back',
                                 'also','would']

Split text into word tokens:

In [27]:
def tokenize_text(position_desc):
    tokens = nltk.word_tokenize(position_desc) 
    tokens = [token.strip() for token in tokens]
    return tokens

    text = tokenize_text(position_desc)

Expand contractions:

In [28]:
def expand_contractions(text, contraction_mapping):
    
    contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())), 
                                      flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match = contraction.group(0)
        first_char = match[0]
        expanded_contraction = contraction_mapping.get(match)\
                                if contraction_mapping.get(match)\
                                else contraction_mapping.get(match.lower())                       
        expanded_contraction = first_char+expanded_contraction[1:]
        return expanded_contraction
        
    expanded_text = contractions_pattern.sub(expand_match, text)
    expanded_text = re.sub("'", "", expanded_text)
    return expanded_text
 
    text = expand_contractions(text, contraction_mapping)

Annotate text tokens with Part-Of-Speach tags:

In [29]:
def pos_tag_text(text_tokens):
    def penn_to_wn_tags(pos_tag):
        if pos_tag.startswith('J'):
            return wn.ADJ
        elif pos_tag.startswith('V'):
            return wn.VERB
        elif pos_tag.startswith('N'):
            return wn.NOUN
        elif pos_tag.startswith('R'):
            return wn.ADV
        else:
            return None  
    tagged_text = nltk.pos_tag(text_tokens)
    tagged_lower_text = [(word.lower(), penn_to_wn_tags(pos_tag))
                         for word, pos_tag in
                         tagged_text]
    return tagged_lower_text

    text = pos_tag_text(tokenize_text(text))

Lemmatize text based on Part-Of-Speech (POS) tags:

In [30]:
def lemmatize_text(text):
    pos_tagged_text = pos_tag_text(text)
    lemmatized_tokens = [wnl.lemmatize(word, pos_tag) if pos_tag
                         else word                     
                         for word, pos_tag in pos_tagged_text]
    lemmatized_text = ' '.join(lemmatized_tokens)
    return lemmatized_text
 
    text = lemmatize_text(tokenize_text(text))

Remove special characters, such as punctuation marks:

In [31]:
def remove_special_characters(text):
    tokens = tokenize_text(text)
    pattern = re.compile('[{}]'.format(re.escape(string.punctuation)))
    filtered_tokens = filter(None, [pattern.sub(' ', token) for token in tokens])
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text 

    text = remove_special_characters(text)

Get rid of stopwords:

In [32]:
def remove_stopwords(text):
    tokens = tokenize_text(text)
    filtered_tokens = [token for token in tokens if token not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

    text = remove_stopwords(text)

Remove all non-text characters (numbers, etc.):

In [33]:
def keep_text_characters(text):
    filtered_tokens = []
    tokens = tokenize_text(text)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text

    text = keep_text_characters(test_text)

Clean up HTML markups:

In [34]:
class MLStripper(HTMLParser):
    def __init__(self):
        super().__init__()
        self.reset()
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ' '.join(self.fed)
    
def strip_html(text):
    html_stripper = MLStripper()
    html_stripper.feed(text)
    return html_stripper.get_data()

    text = strip_html(text)

Removing accents from characters:

In [35]:
def normalize_accented_characters(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf8')
    return text

    text = normalize_accented_characters(text)

Using the lemma tokenized words try to match each word to the skills_match_list df to identify desired Data Scientist skills to load to the skills table.

In [36]:
def identify_skills(text):
    skills_list = []
    
    #Compare each word in the normalized position description to skills list: if matched append skill to skills_list
    for word_tokens in text:
        isSkill = word_tokens in skills_match_list_df.values
        if isSkill:
            skills_list.append(word_tokens)
            isSkill = False
    
    #Remove duplicate skills from list
    normalize_skills_list = list(set(skills_list))
    
    #return normalized_skills_list
    return normalize_skills_list

Main process loop through all position descriptions to scrape all desired skills

In [37]:
def normalize_skills_list(corpus, only_text_chars=True):

    normalized_skills_list = []
    index = 0
    #for text in corpus_desc:
    index += 1 
    text = normalize_accented_characters(corpus)
    text = html.unescape(text)
    text = strip_html(text)
    text = expand_contractions(text, contraction_mapping)
    text = remove_special_characters(text)
    text = remove_stopwords(text)
    text = tokenize_text(text)
    print(text)
    
    normalized_skills_list = identify_skills(text)    
    return normalized_skills_list

In [38]:
def load_skills(hld_pos_id, skills_list):
    skills_list_df = pd.DataFrame(skills_list, columns = ['skill'])
    skills_list_df['pos_id']=hld_pos_id
        
    print("skill list df: ", skills_list_df)
    
    #Generate the sql insert statement to load all the skills identifed for the current DS position
    insert_stmt = "INSERT INTO skills_tbl (skill, pos_id) VALUES(%s, %s);"
    
    #Load skills into the skills database table
    ps.extras.execute_batch(cursor, insert_stmt, skills_list_df.values)
    conn.commit()

In [40]:
for index, row in id_desc_df.iterrows():
    hld_pos_id = row['pos_id']
    corpus = []
    corpus = row['description']
    skills_list = normalize_skills_list(corpus)
    load_skills(hld_pos_id, skills_list)
    print(skills_list)

['development', 'director', 'als', 'therapy', 'development', 'institute', 'immediate', 'opening', 'development', 'directors', 'reporting', 'directly', 'senior', 'development', 'director', 'development', 'director', 'als', 'tdi', 'senior', 'fundraising', 'position', 'working', 'identifying', 'potential', 'prospects', 'cultivating', 'solicitation', 'strategies', 'closing', 'asks', 'donors', 'including', 'individuals', 'corporations', 'building', 'networks', 'via', 'events', 'generating', 'awareness', 'als', 'tdi', 'outreach', 'including', 'attending', 'speaking', 'events', 'well', 'personally', 'cultivates', 'relationships', 'patients', 'prospects', 'donors', 'position', 'responsible', 'generating', 'managing', 'portfolio', 'least', 'million', 'million', 'dollars', 'per', 'year', 'position', 'located', 'atlanta', 'ga', 'requirements', 'bachelors', 'degree', 'requiredminimum', '6', '8', 'years', 'experience', 'fundraising', 'business', 'developmentsuccessful', 'track', 'recording', 'fundraising', 'major', 'donors', 'scientific', 'sales', 'preferreddemonstrated', 'ability', 'work', 'independently', 'progress', 'several', 'prospects', 'projects', 'time', 'excellent', 'english', 'oral', 'written', 'presentation', 'skillsstrong', 'leadership', 'management', 'skills', 'well', 'ability', 'forge', 'strong', 'interpersonal', 'relationshipsability', 'travelexcellent', 'computer', 'skills', 'including', 'use', 'word', 'processing', 'spreadsheet', 'database', 'presentation', 'prospect', 'management', 'software', 'operating', 'pc', 'based', 'system', 'including', 'salesforce', 'als', 'therapy', 'development', 'institute', 'als', 'net', 'als', 'therapy', 'development', 'institute', 'als', 'net', 'scientists', 'actively', 'discover', 'develop', 'treatments', 'als', 'als', 'net', 'worlds', 'first', 'largest', 'nonprofit', 'biotech', 'focused', '100', 'als', 'research', 'led', 'als', 'patients', 'families', 'charity', 'understands', 'urgent', 'need', 'slow', 'stop', 'horrible', 'disease', 'als', 'net', 'based', 'cambridge', 'served', 'leaders', 'sharing', 'data', 'information', 'academic', 'als', 'research', 'organizations', 'patients', 'families', 'information', 'visit', 'www', 'als', 'net', 'apply', 'please', 'apply', 'https', 'als', 'applicantpro', 'com', 'please', 'include', 'cover', 'letter', 'salary', 'requirements', 'resume', 'phone', 'calls', 'please', 'als', 'tdi', 'equal', 'opportunity', 'employer']
skill list df:           skill  pos_id
0     database  202527
1        sales  202527
2  development  202527
3    reporting  202527
4    excellent  202527
5  responsible  202527
6  information  202527
7   management  202527
['database', 'sales', 'development', 'reporting', 'excellent', 'responsible', 'information', 'management']
['job', 'description', 'road', 'leads', 'accomplishment', 'narrow', 'desmond', 'ostentatious', 'strong', 'adjective', 'fits', 'description', 'individual', 'inhibits', 'natural', 'innate', 'spirit', 'vivaciousness', 'vigor', 'eager', 'characteristics', 'comprise', 'disposition', 'willing', 'learn', 'take', 'attitude', 'eternal', 'student', 'said', 'atlanta', 'georgia', 'based', 'scientific', 'r', 'outfit', 'hexagon', 'lavish', 'open', 'position', 'excitable', 'principal', 'research', 'assistant', 'mentored', 'guided', 'chief', 'science', 'officer', 'position', 'includes', 'computational', 'statistical', 'analysis', 'sequencing', 'studies', 'technical', 'logistical', 'collaboration', 'international', 'consortia', 'well', 'excitable', 'principal', 'research', 'assistant', 'responsible', 'setting', 'schedule', 'entry', 'level', 'scientists', 'guided', 'chief', 'scientist', 'excitable', 'principal', 'research', 'assistant', 'charge', 'delegating', 'reports', 'responsibilities', 'project', 'leads', 'behalf', 'chief', 'science', 'officer', 'chief', 'technology', 'officer', 'excitable', 'principal', 'research', 'assistant', 'engage', 'entry', 'level', 'scientists', 'researchers', 'setting', 'work', 'schedules', 'entry', 'level', 'scientists', 'researchers', 'heavily', 'involved', 'workshops', 'internal', 'team', 'seminars', 'well', 'perform', 'clerical', 'administrative', 'duties', 'reports', 'directly', 'addressed', 'chief', 'science', 'officer', 'solid', 'background', 'constructive', 'optics', 'algorithms', 'combined', 'expansive', 'computer', 'vision', 'image', 'inferential', 'preferable', 'candidacy', 'qualifications', 'integrating', 'data', 'across', 'formats', 'sources', 'robust', 'synchronization', 'existing', 'datasets', 'databases', 'general', 'direction', 'developing', 'innovative', 'analytical', 'methods', 'enable', 'collaborators', 'interpret', 'design', 'follow', 'research', 'providing', 'support', 'internal', 'team', 'members', 'across', 'interdisciplinary', 'backgrounds', 'lead', 'contribute', 'manuscript', 'preparation', 'well', 'internal', 'external', 'project', 'team', 'reports', 'actively', 'participating', 'project', 'team', 'group', 'meetings', 'additional', 'information', 'essential', 'job', 'functions', 'ph', 'computer', 'science', 'mathematics', 'statistics', 'chemistry', 'quantitative', 'discipline', 'required', '5', 'years', 'experience', 'varying', 'datasets', 'experience', 'computational', 'biology', 'statistics', 'physics', 'mathematics', 'computer', 'science', 'algorithms', 'incorporate', 'learning', 'etc', 'relevant', 'experience', 'formal', 'training', 'laboratorial', 'clinical', 'research', 'must', 'demonstrable', 'proficiency', 'several', 'standard', 'computational', 'languages', 'form', 'esoteric', 'programming', 'familiarity', 'image', 'inferential', 'analysis', 'tools', 'familiarity', 'range', 'optics', 'algorithm', 'tools', 'thorough', 'understanding', 'statistics', 'preferred', 'application', 'modeling', 'software', 'expertise', 'analysis', 'complex', 'r', 'efforts', 'conduct', 'feasibility', 'studies', 'provide', 'technical', 'assessment', 'proposed', 'research', 'preparation', 'briefing', 'materials', 'research', 'announcements', 'technical', 'reports', 'technical', 'monitoring', 'r', 'efforts', 'adherence', 'statement', 'work', 'sow', 'tasks', 'program', 'milestones', 'deliverables', 'participation', 'program', 'reviews', 'site', 'visits', 'field', 'tests', 'coordination', 'scientific', 'workshops', 'required', 'summarize', 'communicate', 'intellectual', 'content', 'scientific', 'technological', 'information', 'scientific', 'non', 'scientific', 'audiences', 'interact', 'stakeholders', 'multiple', 'disciplines', 'including', 'engineering', 'biology', 'neuroscience', 'clinical', 'regulatory', 'policy', 'teams', 'demonstrable', 'mastery', 'high', 'performance', 'computing', 'low', 'level', 'high', 'performance', 'development', 'skills', 'needed', 'perform', 'research', 'distributed', 'highly', 'scalable', 'architectures', 'conducive', 'evolving', 'nature', 'pir', 'essential', 'job', 'functions', 'sound', 'decision', 'maker', 'establish', 'effectiveness', 'mentor', 'contributory', 'scientific', 'endeavors', 'company', 'skills', 'abilities', 'excellent', 'communication', 'skills', 'verbally', 'written', 'form', 'fluent', 'english', 'strong', 'interpersonal', 'skills', 'must', 'demonstrate', 'high', 'degree', 'integrity', 'trustworthiness', 'respect', 'others', 'ability', 'deal', 'appropriately', 'confidential', 'sensitive', 'information', 'must', 'demonstrate', 'understanding', 'acceptance', 'hexagon', 'lavishs', 'mission', 'vision', 'values', 'hexagon', 'lavish', 'equal', 'opportunity', 'employer']
skill list df:            skill  pos_id
0   statistical  202528
1    technology  202528
2    developing  202528
3    analytical  202528
4   development  202528
5      modeling  202528
6             r  202528
7     excellent  202528
8     integrity  202528
9       methods  202528
10  performance  202528
11  responsible  202528
12       design  202528
13  information  202528
14     datasets  202528
15    databases  202528
16   innovative  202528
['statistical', 'technology', 'developing', 'analytical', 'development', 'modeling', 'r', 'excellent', 'integrity', 'methods', 'performance', 'responsible', 'design', 'information', 'datasets', 'databases', 'innovative']
['growing', 'company', 'located', 'atlanta', 'ga', 'area', 'currently', 'looking', 'add', 'data', 'scientist', 'team', 'data', 'scientist', 'analyze', 'business', 'level', 'data', 'produce', 'actionable', 'insights', 'utilizing', 'analytics', 'tools', 'languages', 'etc', 'r', 'python', 'c', 'data', 'scientist', 'serve', 'organizations', 'leader', 'helping', 'grow', 'data', 'science', 'initiative', 'green', 'state', 'data', 'scientist', 'responsible', 'advancement', 'analytical', 'projects', 'inception', 'delivery', 'beyond', 'responsiblities', '1', 'leverage', 'big', 'data', 'discover', 'patterns', 'solve', 'strategic', 'tactical', 'business', 'problems', 'using', 'massive', 'structured', 'unstructured', 'data', 'sets', 'across', 'multiple', 'environments', '2', 'develop', 'analytical', 'capabilities', 'modeling', 'processes', 'drive', 'better', 'outcomes', 'customers', 'company', '3', 'drive', 'collection', 'cleansing', 'processing', 'analysis', 'new', 'existing', 'data', 'sources', '4', 'research', 'industry', 'topics', 'impacting', 'opportunities', 'relevant', 'data', 'analysis', 'projects', '5', 'execute', 'complex', 'analyses', 'aid', 'reporting', 'interpretation', 'analytical', 'findings', 'build', 'comprehensive', 'solution', '6', 'demonstrates', 'good', 'judgment', 'analytical', 'skills', 'conduct', 'option', 'analysis', 'present', 'recommendations', '7', 'support', 'resolve', 'issues', 'related', 'analyses', 'deliverable', 'production', '8', 'works', 'internal', 'external', 'clients', 'understand', 'clarify', 'analyze', 'requirements', 'understand', 'business', 'potential', 'impactful', 'solutions', '9', 'mapping', 'processes', 'understand', 'opportunities', 'advanced', 'analytics', 'product', 'enhancement', 'requirements', '5', '1', 'ba', 'bs', 'degree', 'business', 'analysis', 'computer', 'science', 'economics', 'data', 'science', 'masters', 'degree', 'preferred', '2', '5', 'years', 'predictive', 'analytics', 'statistical', 'modeling', 'machine', 'learning', 'plus', '3', 'expect', 'level', 'understanding', 'analytics', 'tools', 'language', 'r', 'python', 'c', 'etc', '4', 'experienced', 'business', 'analysis', 'requirement', 'definition', '5', 'proven', 'recent', 'experience', 'working', 'sales', 'marketing', 'supply', 'chain', 'manufacturing', 'data', '6', 'able', 'navigate', 'access', 'structured', 'unstructured', 'data', 'environments', 'e', 'hadoop', 'oracle', 'sql', 'etc', '7', 'experience', 'utilizing', 'internal', 'external', 'data', 'sources', 'identify', 'otherwise', 'hidden', 'industry', 'trends', 'impact', 'product', 'development', '8', 'exposure', 'visualization', 'tools', 'tableau', 'qliksense', '9', 'must', 'solution', 'oriented', 'focused', 'innovation', '10', 'familiar', 'scripting', 'language', 'e', 'g', 'perl', 'python', 'programming', 'language', 'e', 'g', 'java', 'express', 'interest', 'position', 'please', 'email', 'resume', 'ms', 'word', 'pdf', 'format', 'attach', 'cover', 'letter', 'salary', 'requirements', 'contact', 'information', 'please', 'sure', 'reference', 'job', '2093', 'sponsorship', 'available', 'location', 'atlanta', 'ga', 'type', 'permanent', 'salary', 'doe']
skill list df:            skill  pos_id
0         sales  202529
1   development  202529
2           sql  202529
3   information  202529
4        python  202529
5    analytical  202529
6        issues  202529
7        trends  202529
8     marketing  202529
9      findings  202529
10    reporting  202529
11      tableau  202529
12  responsible  202529
13     patterns  202529
14  statistical  202529
15     insights  202529
16     modeling  202529
17            r  202529
18       hadoop  202529
['sales', 'development', 'sql', 'information', 'python', 'analytical', 'issues', 'trends', 'marketing', 'findings', 'reporting', 'tableau', 'responsible', 'patterns', 'statistical', 'insights', 'modeling', 'r', 'hadoop']
['department', 'program', 'operationsposition', 'locations', 'atlanta', 'ga', 'accountability', 'president', 'program', 'operationsfor', '25', 'years', 'operation', 'hope', 'dedicated', 'empowering', 'underserved', 'communities', 'financial', 'literacy', 'work', 'encompasses', 'financial', 'education', 'work', 'instilling', 'knowledge', 'confidence', 'serve', 'experience', 'sometimes', 'first', 'time', 'lives', 'financial', 'dignity', 'job', 'summarythe', 'data', 'analyst', 'collects', 'organizes', 'mines', 'analyzes', 'audits', 'large', 'sets', 'data', 'impact', 'reporting', 'operational', 'optimization', 'data', 'analyst', 'participates', 'team', 'member', 'responsible', 'maintaining', 'integrity', 'client', 'database', 'information', 'provides', 'executable', 'actionable', 'recommendations', 'data', 'migration', 'best', 'practices', 'field', 'operations', 'based', 'analytical', 'findings', 'duties', 'responsibilitiesinitiate', 'participate', 'data', 'mining', 'reportingaudit', 'profile', 'data', 'assess', 'impact', 'poor', 'quality', 'data', 'organizations', 'performance', 'impacts', 'conduct', 'b', 'testing', 'based', 'different', 'hypotheses', 'directly', 'indirectly', 'impact', 'operational', 'key', 'performance', 'indicators', 'create', 'support', 'data', 'visualization', 'operational', 'executive', 'dashboards', 'import', 'collect', 'clean', 'convert', 'analyze', 'data', 'purpose', 'insights', 'making', 'conclusions', 'design', 'develop', 'relational', 'databases', 'collecting', 'data', 'monitor', 'performance', 'data', 'systems', 'issues', 'respond', 'keep', 'track', 'trends', 'patterns', 'correlation', 'case', 'complex', 'data', 'sets', 'prepare', 'concise', 'data', 'reports', 'data', 'visualizations', 'management', 'help', 'decision', 'making', 'process', 'assist', 'data', 'scientist', 'development', 'new', 'analytical', 'tools', 'methods', 'required', 'required', 'skills', 'educationbachelors', 'degreetwo', 'years', 'data', 'analyst', 'related', 'fieldable', 'understand', 'various', 'data', 'structures', 'common', 'methods', 'data', 'transformationexperience', 'basic', 'statistical', 'modeling', 'reportingexperience', 'sql', 'relational', 'databases', 'database', 'concepts', 'dimensional', 'modeling', 'database', 'designproficient', 'programming', 'languages', 'r', 'python', 'stata', 'sasexperience', 'caseworthy', 'sql', 'tableaueeostatementoperation', 'hope', 'equal', 'opportunity', 'employer', 'qualified', 'applicants', 'receive', 'consideration', 'employment', 'without', 'regard', 'race', 'color', 'religion', 'sex', 'age', 'national', 'origin', 'protected', 'veteran', 'status', 'disability', 'status', 'sexual', 'orientation', 'gender', 'identity', 'expression', 'marital', 'status', 'genetic', 'information', 'characteristic', 'protected', 'law', 'job', 'type', 'full', 'timesalary', '50', '000', '00', '60', '000', '00', 'yearexperience', 'data', 'analyst', 'related', 'field', '2', 'yearsbasic', 'statistical', 'modeling', 'reporting', '2', 'yearsprogramming', 'languages', 'r', 'python', 'stata', 'sas', '2', 'yearssql', 'relational', 'databases', 'database', 'concepts', 'design', '2', 'yearscaseworthy', 'sql', 'tableau', '1', 'yeareducation', 'bachelorslocation', 'atlanta', 'ga']
skill list df:             skill  pos_id
0         client  202530
1          stata  202530
2   optimization  202530
3           case  202530
4    development  202530
5      integrity  202530
6         import  202530
7        collect  202530
8        convert  202530
9            sql  202530
10   information  202530
11       impacts  202530
12       testing  202530
13     databases  202530
14   operational  202530
15        python  202530
16    analytical  202530
17        issues  202530
18        trends  202530
19       process  202530
20     operation  202530
21       methods  202530
22   maintaining  202530
23   performance  202530
24       monitor  202530
25    management  202530
26      collects  202530
27      database  202530
28    caseworthy  202530
29      findings  202530
30         clean  202530
31     reporting  202530
32       tableau  202530
33   responsible  202530
34    executable  202530
35        design  202530
36   correlation  202530
37      patterns  202530
38    dashboards  202530
39   statistical  202530
40           sas  202530
41      insights  202530
42      modeling  202530
43     organizes  202530
44             r  202530
45    hypotheses  202530
['client', 'stata', 'optimization', 'case', 'development', 'integrity', 'import', 'collect', 'convert', 'sql', 'information', 'impacts', 'testing', 'databases', 'operational', 'python', 'analytical', 'issues', 'trends', 'process', 'operation', 'methods', 'maintaining', 'performance', 'monitor', 'management', 'collects', 'database', 'caseworthy', 'findings', 'clean', 'reporting', 'tableau', 'responsible', 'executable', 'design', 'correlation', 'patterns', 'dashboards', 'statistical', 'sas', 'insights', 'modeling', 'organizes', 'r', 'hypotheses']

In [186]:
connection.close()