# ETL Project - Scraping of desired Data Scientist skills requested in Job            Listings across United States

In [1]:
import sys
import re
import unicodedata
import string
import numpy as np
import pandas as pd

import psycopg2 as ps
import psycopg2.extras
import os

from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import  CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation

from pprint import pprint

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

# Connect to the Data Scientist database

In [3]:
#Connect to the DataScientist_DB
try:
    #engine = create_engine("sqlite:///Resources/Data_Sciencetist.sqlite")
    conn = ps.connect(user = "postgres", 
                                  password = "firstCls1", 
                                  host = "localhost", 
                                  port = "5432", 
                                  database = "DataScientist_DB") 
    #Create our session (link) from Python to the DB
    #conn = Session(engine)
    cursor = conn.cursor()
    # Print PostgreSQL version 
    cursor.execute("SELECT version();") 
    record = cursor.fetchone() 
    print("You are connected to - ", record,"\n") 

except (Exception, ps.Error) as error : 
    print ("Error while connecting to Database: ", error)

You are connected to -  ('PostgreSQL 11.4, compiled by Visual C++ build 1914, 64-bit',)

# SQL - Retrieve positions and location data

In [7]:
ds_pos_df = pd.read_sql_query('select ds.pos_id, ds.position, ds.company, ds.city, ds.state, rg.region, ds.zip, \
zp.lat, zp.lng from (ds_tbl ds left join ziplatlng_tbl zp on ds.zip = zp.zip) left join region_tbl rg on rg.state_abbr = ds.state',conn)
ds_pos_df.head()

,pos_id,position,company,city,state,region,zip,lat,lng
0,209110,Forensic Toxicologist,San Francisco Office of the Chief Medical Exam...,San Francisco,CA,SW,94111,37.799367,-122.398407
1,208357,Data Scientist,Near,San Francisco,CA,SW,94110,37.750021,-122.415201
2,208340,Data Scientist,Bold Metrics,San Francisco Bay Area,CA,SW,94104,37.791409,-122.402130
3,208341,"Data Scientist, Audience Science",Ubisoft,San Francisco,CA,SW,94104,37.791409,-122.402130
4,208339,Data Scientist | Fortune 500 Retailer,BICP,San Francisco,CA,SW,94111,37.799367,-122.398407

# Load positions json file using ds position dataframe

In [6]:
ExpFile = ds_pos_df.to_json (r'C:\Users\yc886c\DABC_Repo1\g6Purple_Project\Resources\positions.json')

In [9]:
ExpFile = ds_pos_df.to_csv (r'C:\Users\yc886c\DABC_Repo1\g6Purple_Project\Resources\positions.csv')

In [186]:
connection.close()